* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #f2f2f2;
}
section .text h2 {
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.flex {
  display: flex;
}
a {
  text-decoration: none;
}

nav {
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: white;
}

/* HOME PAGE */
#home {
  background-image: url("../img/home.jpg");
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
}
#home .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  padding-left: 1rem;
  padding-bottom: 20%;
  color: #2f2f2f;
}
#home .text h3 {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  opacity: 0.7;
}
#home .text .top {
  animation: slideLeft 1200ms ease-out;
}
#home .text .mid {
  animation: slideRight 1200ms ease-out;
}
#home .text .bot {
  animation: slideLeft 1200ms ease-out;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ABOUT PAGE */
#about {
  background-image: url("../img/about.jpg");
  background-attachment: fixed;
  background-position: 25% 0%;
  background-size: cover;
}
#about .text {
  height: 100%;
}
#about .text p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem;
}

/* SKILLS PAGE */
#skills {
  background-image: url("../img/skills.jpg");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-size: cover;
}
#skills h2 {
  background: rgba(0, 0, 0, 1);
  padding-left: 1rem;
}
#skills .flex {
  height: 90%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 1);
}
#skills .flex .row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
}
#skills .flex .row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills .flex .row div i {
  font-size: 4rem;
  margin-bottom: 1rem;
}
#skills .flex .row div img {
  height: 4rem;
  margin-bottom: 1rem;
}
.fa-html5 {
  color: #e34c26;
}
.fa-css3-alt {
  color: #264de4;
}
.fa-js {
  color: #f0db4f;
}
.fa-bootstrap {
  color: #0275d8;
}
.fa-react {
  color: #61dbfb;
}
.fa-node-js {
  color: #215732;
}
#express {
  font-size: 2rem;
}

/* BOTTOM */
.bottom {
  background-image: url("../img/bottom.jpg");
  background-attachment: fixed;
  background-position: 0% 0%;
  background-size: cover;
}

#work {
  color: #fff;
  /* background-color: #000; */
  /* border: 1px solid red; */
  height: 70vh;
  width: 100%;
}
#work .work-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-bottom: 10rem;
  height: 90%;
}
#work .work-list div {
  display: flex;
  justify-content: space-between;
}
#work .work-list div p {
  font-size: 1.25rem;
  padding-right: 0.5rem;
}
#work .work-list div i {
  margin-right: 1rem;
}
#work .work-list a {
  color: #fff;
  font-size: 2.5rem;
}
.work-git {
  font-size: 2rem;
}

/* FOR DESKTOP */
/* #work .work-list:hover > a {
  opacity: 0.3;
}
#work .work-list:hover > a:hover {
  opacity: 1;
} */

#contact {
  height: 70vh;
  padding-bottom: 20%;
}
#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: block;
  margin-bottom: 0.25rem;
}
input {
  width: 15rem;
  border-radius: 3px;
  border: none;
  height: 1.5rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
#contact form button {
  width: 4rem;
  padding: 0.25rem 0.5rem;
}

/* FOOTER */
#footer {
  height: 10vh;
  background-color: #2f2f2f;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem;
  align-items: center;
  gap: 3rem;
}
#footer .socials i {
  margin-left: 1rem;
  color: #fff;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.25rem;
  }
  nav {
    padding: 2rem 4rem;
  }
  #home .text {
    padding-left: 4rem;
    padding-top: 2rem;
  }
  #about {
    height: 110vh;
  }
  #about .text {
    padding: 0 4rem;
    padding-bottom: 5vh;
  }
  #skills {
    height: 120vh;
  }
  #skills h2 {
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  #skills .flex {
    /* padding: 0 4rem; */
    padding-bottom: 5rem;
  }
  #skills .flex .row {
    /* margin-bottom: 0.5rem; */
    margin: 0;
    /* padding-bottom: 3rem; */
  }
  #work {
    padding: 0 3rem;
  }
  #contact {
    padding: 0 3rem;
    height: 100vh;
  }
}
@media screen and (min-width: 1200px) {
  #home .text {
    padding-left: 15rem;
    padding-top: 12rem;
  }
  #about .text p {
    margin: 3rem 10rem;
    font-size: 2rem;
  }
  #work .work-list {
    padding: 0 10rem;
  }
  #contact {
    padding: 0 3rem;
    height: 80vh;
  }
}
